<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>


<%# This is the home page where the user can see their statistics and charts %>

<%# This is for passing server-side to client-side %>
<% const transactionsJSON = JSON.stringify(transactions); %>

<%# This is the main content of the home page, which welcomes the user and its monthly data%>
<div class="home-header">
    <div class="home-header-left">
        <h3>Welcome Back, </h3>
        <h1><%=user.username%>!</h1>
    </div>
    <div class="home-header-right">
        <!-- Used to have another div here so that's why this one has a child -->
        <div class="home-header-statistics">
            <% let totalIncome = 0; %>
            <% let totalExpense = 0; %>
            <% transactions.forEach(transaction => { %>
                <%
                const transactionDate = new Date(transaction.date);
                const today = new Date();
                if (
                    transactionDate.getDate() === today.getDate() &&
                    transactionDate.getMonth() === today.getMonth() &&
                    transactionDate.getFullYear() === today.getFullYear()
                ) { %>
                    <% if (transaction.type === 'income') { %>
                        <% totalIncome += transaction.amount; %>
                    <% } else { %>
                        <% totalExpense += transaction.amount; %>
                    <% } %>
                <% } %>
            <% }); %>
            <div class="home-header-income">
                <p>Today's Income</p>
                <h3>$<%= totalIncome.toFixed(2) %></h3>
            </div>
            <div class="home-header-expense">
                <p>Today's Expense</p>
                <h3>$<%= totalExpense.toFixed(2) %></h3>
            </div>
        </div>
    </div>
</div>

<form action="/transactions" method="GET" enctype="application/x-www-form-urlencoded">
    <div class="transaction-btn-container">
        <button class="add-transaction-btn">ADD TRANSACTION</button>
    </div>
</form>

<div class="monthly-indicator">
    <h3>Here are your monthly statistics!</h3>
</div>

<%# This part shows the user's monthly statistics %>
<div class="charts">
    <div class="doughnut-chart-container">
        <div class="type-doughnut-chart">
            <h2>Types</h2>
            <canvas id="doughnutChartTransactionTypes" data-transactions='<%- transactionsJSON %>'></canvas>
        </div>
        <div class="category-doughnut-chart">
            <h2>Categories</h2>
            <canvas id="doughnutChartCategories" data-transactions='<%- transactionsJSON %>'></canvas>
        </div>
    </div>

    <div class="line-chart">
        <h2>Income & Expense Amount</h2>
        <canvas id="lineChartIncomeExpense" data-transactions='<%- transactionsJSON %>'></canvas>
    </div>
</div>
