<div class="full-height">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    "
  >
    <% if (messages.error) { %>
    <div
      style="
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        background-color: #f8d7da;
        color: #721c24;
      "
    >
      <%= messages.error %>
    </div>
    <% } %>
    <% if (messages.info) { %>
    <div
      style="
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        background-color: #d1e7dd;
        color: #0f5132;
      "
    >
      <%= messages.info %>
    </div>
    <% } %>
    <% if (messages.success) { %>
    <div
      style="
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        background-color: #d4edda;
        color: #155724;
      "
    >
      <%= messages.success %>
    </div>
    <% } %>
    <div class="register__div">
      <h1>Reset Password!</h1>
      <form action="/resetPassword/<%= token %>" method="POST" class="register__form">
        <input type="hidden" name="token" value="<%= token %>" />
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required />
        <label for="password">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />
        <button type="submit" class="register__button">Submit</button>
      </form>
    </div>
  </div>
</div>