<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"/>
<script src="/js/transactions.js"></script>

<%# This is the page where users can see their transaction data in more in-depth detail, uses DataTable to display them %>

<style>
  .dataTables_length{
    height: 50px;
  }
  .dataTables_length label{
    font-size: 0;
  }
</style>

<div class="transactions-header">
  <h1>Transactions</h1>
  <nav>
    <ul class="transactions-nav">
      <li><button id="today">Today</button></li>
      <li><button id="last-7-days">Last 7 Days</button></li>
      <li><button id="last-30-days">Last 30 Days</button></li>
      <li class="select-date-range">
        <button id="select-date-range">Select Date Range</button>
      </li>
    </ul>
  </nav>
</div>

<div class="transactions-stats">
  <div class="total-transactions">
    <p>Total Transactions</p>
    <h3><%= transactions.length %></h3>
  </div>
  <% let totalIncome = 0, totalExpense = 0; transactions.forEach(transaction =>
  { if (transaction.type === 'income') { totalIncome += transaction.amount; }
  else { totalExpense -= transaction.amount; } }); %>
  <div class="total-income">
    <p>Total Income</p>
    <h3>$<%= totalIncome.toFixed(2) %></h3>
  </div>
  <div class="total-expense">
    <p>Total Expense</p>
    <h3>$<%= totalExpense.toFixed(2) %></h3>
  </div>
</div>

<div class="transactions-list" id="transactions">
  <div class="transactions-list-options">
    <div class="transactions-list-header-left">
      <button id="filter-income">Income Only</button>
      <button id="filter-expense">Expense Only</button>
      <button id="filter-reset">Reset Filter</button>
    </div>
    <div>
      <button class="download-btn" onclick="downloadTransactionsCSV()">
        DOWNLOAD
      </button>
      <button onclick="addIncome()" class="addIncome-btn">+ Income</button>
      <button onclick="addExpense()" class="addExpense-btn">+ Expense</button>
    </div>
  </div>
  <table class="stripe hover order-column row-border" id="transactions-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% transactions.forEach(transaction => { %>
      <tr data-transaction-id="<%= transaction._id %>">
        <td><%= transaction.date.toISOString().slice(0, 10) %></td>
        <td>
          $<%= (transaction.type === 'expense' ? -transaction.amount :
          transaction.amount).toFixed(2) %>
        </td>
        <td><%= transaction.category %></td>
        <td><%= transaction.notes %></td>
        <td id="editor">
          <a onclick="editTransaction('<%= transaction._id %>')">Edit</a>
          <a onclick="deleteTransaction('<%= transaction._id %>')">Delete</a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
